body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
  }
  
  #tribute-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
  }
  
  #image-container {
    flex: 1;
    margin: 10px;
  }
  
  img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  
  #text-container {
    flex: 2;
    margin: 10px;
  }
  
  p {
    line-height: 1.6;
  }
  
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }
  